<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cm.dao.IAreaDao">

	<resultMap type="com.cm.entity.Area" id="AreaMap">
		<id column="aid" property="id"/>
		<result column="areaname" property="areaname"/>
		<result column="max_allow" property="max_allow"/>
		<result column="max_time" property="max_time"/>
		<result column="is_exit" property="is_exit"/>
		<result column="emphasis" property="emphasis"/>
		<result column="default_allow" property="default_allow"/>
		<result column="remark" property="remark"/>
		<result column="adjoin" property="adjoin"/>
		<result column="lineString" property="lineString"/>
		<result column="e_point" property="e_point"/>
		<result column="n_point" property="n_point"/>
        <result column="area_type_id" property="area_type_id"/>
        <result column="area_type_name" property="area_type_name"/>
        <result column="path" property="path"/>
        <result column="e_point" property="e_point"/>
        <result column="n_point" property="n_point"/>
		<collection property="cardreders" ofType="com.cm.entity.Cardreder">
			<id column="cardreaderid" property="id"/>
			<result column="addr" property="addr"/>
			<result column="position" property="position"/>
			<result column="subname" property="subname"/>
			<result column="alais" property="alais"/>
		</collection>
		<collection property="workers" ofType="com.cm.entity.Worker">
			<id column="workerid" property="id"/>
			<result column="name" property="name"/>
			<result column="cardid" property="rfcard_id"/>
		</collection>
        <collection property="areas" ofType="com.cm.entity.Area">
            <id column="s_id" property="id"/>
            <result column="s_areaname" property="areaname"/>
            <result column="s_max_allow" property="max_allow"/>
            <result column="s_max_time" property="max_time"/>
            <result column="s_default_allow" property="default_allow" />
            <result column="s_emphasis" property="emphasis" />
            <result column="s_is_exit" property="is_exit" />
            <result column="s_worker_timeout" property="worker_timeout" />
            <result column="s_remark" property="remark" />
            <collection property="areaSensors" ofType="com.cm.entity.AreaSensor">
                <id column="area_sensor_id" property="id" />
            </collection>
        </collection>
    </resultMap>
	
	<!-- 查询所有区域有关信息 -->
	<select id="getAll" resultMap="AreaMap">
		SELECT ta.id aid,ta.areaname,ta.max_allow,ta.max_time,ta.default_allow,ta.remark,ta.is_exit,ta.emphasis,
		tc.id cardreaderid,ta.adjoin,ta.lineString,ts.ipaddr subname,tc.addr,tc.alais,ti.v position,tr.id workerid,tr.`name`,tr.rfcard_id cardid,
		ta.area_type_id,IFNULL(tt.`name`,'未配置区域类型') area_type_name,tt.path,ta1.id s_id,ta1.areaname s_areaname,ta1.max_allow s_max_allow,ta1.max_time s_max_time,ta1.default_allow s_default_allow,
		ta1.emphasis s_emphasis,ta1.is_exit s_is_exit,ta1.worker_timeout s_worker_timeout,ta1.remark s_remark,ta.e_point,ta.n_point,tan.area_sensor_id
		FROM t_area ta
		LEFT JOIN t_cardreder tc ON tc.areaid=ta.id AND tc.cstate &lt; 3
		LEFT JOIN t_area_worker tw ON tw.area_id=ta.id
		LEFT JOIN t_worker tr ON tr.rfcard_id=tw.card_id and tr.isuse!=3
		LEFT JOIN t_substation ts ON tc.substation_id=ts.id
		LEFT JOIN t_static ti ON ti.id=tc.position_id
		LEFT JOIN t_area_type tt ON tt.id=ta.area_type_id
		LEFT JOIN t_area_neighbor tan ON ta.id=tan.m_area_id
		LEFT JOIN t_area ta1 ON tan.s_area_id=ta1.id
		where ta.id>1
	</select>
	
	<select id="getAllArea" resultType="com.cm.entity.Area">
		SELECT * FROM t_area where id > 1
	</select>
	
	<select id="getallarealist" resultType="com.cm.entity.vo.AreaListVo">
		SELECT id,areaname FROM t_env_area WHERE id>1
	</select>
	
	<!-- 添加区域相关信息 -->
	<insert id="addArea" useGeneratedKeys="true" keyProperty="id" parameterType="com.cm.entity.Area">
		insert into t_area (areaname,max_allow,max_time,default_allow,is_exit,emphasis,remark,adjoin,lineString,area_type_id,e_point,n_point)
		values(#{areaname},#{max_allow},#{max_time},#{default_allow},#{is_exit},#{emphasis},#{remark},#{adjoin},#{lineString},#{area_type_id},#{e_point},#{n_point})
	</insert>
	
	<!-- 查询新添加的区域id -->
	<select id="getId" resultType="int">
		select id from t_area where areaname=#{areaname} and max_allow=#{max_allow} and
		max_time=#{max_time} and default_allow=#{default_allow} and remark=#{remark}
	</select>
	
	<!-- 添加area_worker中间表 -->
	<insert id="addAreaWorker">
		insert into t_area_worker (area_id,card_id)
		values
		<foreach collection="workers" item="worker" index="index" separator=",">
			(#{areaid},#{worker.rfcard_id})
		</foreach>
	</insert>
	
	<!-- 更新switchsensor表 -->
	<update id="updateSwitchSensor">
		update t_switch_sensor set area_id=#{area_id} where id=#{id}
	</update>
	
	<!-- 更新sensor表 -->
	<update id="updateSensor">
		update t_sensor set area_id=#{area_id} where id=#{id}
	</update>
	
	<!-- 更新cardreder -->
	<update id="updateCardreder">
        <foreach collection="list" item="c" separator=";">
		    update t_cardreder set areaid=#{areaid} where id=#{c.id}
        </foreach>
	</update>

	
	<select id="getAreaByAdjoin" resultType="com.cm.entity.Area">
		select * from t_area where adjoin like "%"#{adjoin}"%"
	</select>
	
	<update id="updateAdjoin">
		update t_area
		<set>
			<if test="null!=adjoin">
				adjoin=#{adjoin}
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>
	
	<!-- 更新区域相关信息 -->
	<update id="updateArea">
		update t_area
		<set>
			<if test="areaname!=null and areaname!=''">
			areaname=#{areaname},
			</if>
			max_allow=#{max_allow},
			max_time=#{max_time},
			default_allow=#{default_allow},
			<if test="is_exit!=null">
			is_exit=#{is_exit},
			</if>
			emphasis=#{emphasis},
			worker_timeout=#{worker_timeout},
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
			adjoin=#{adjoin},
            lineString=#{lineString},
            n_point=#{n_point},
            e_point=#{e_point},
            <if test="area_type_id>0">
                area_type_id=#{area_type_id}
            </if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>
	
	<select id="getAllemphasisAreaIds" resultType="int">
		SELECT id FROM t_area WHERE emphasis=2
	</select>
	
	<select id="getAllAreaLimitIds" resultType="int">
		SELECT id FROM t_area WHERE default_allow=2
	</select>
	
	<!-- 删除area_worker中间表相关信息 -->
	<delete id="deleteAreaWorker">
		delete from t_area_worker where area_id=#{areaid}
	</delete>
	
	<!-- 设置cardreder的areaid为null -->
	<update id="updateByAreaid">
		UPDATE t_cardreder 
		<set>
			areaid=NULL
		</set>
		<where>
			areaid=#{areaid}
		</where>
	</update>
	
	<!-- 更新switchsensor表area_id为null -->
	<update id="updateSwitchSensorAreaidIsNull">
		update t_switch_sensor set area_id=NULL where id=#{id}
	</update>
	
	<!-- 更新sensor表area_id为null -->
	<update id="updateSensorAreaidIsNull">
		update t_sensor set area_id=NULL where id=#{id}
	</update>
	
	<select id="getSensorByAreaid" resultType="com.cm.entity.Sensor">
		SELECT t1.id,t1.station,t2.ipaddr,t1.sensorId,t1.sensor_type,t3.v type,t3.pid,t1.uid,t1.alais,
		t1.sensor_position,IFNULL(t4.v,'未配置位置') position,t1.area_id,t11.areaname
		FROM t_sensor t1
		LEFT JOIN t_substation t2 ON t1.station=t2.id
		LEFT JOIN t_static t3 ON t1.sensor_type=t3.id
		LEFT JOIN t_static t4 ON t1.sensor_position=t4.id
		LEFT JOIN t_area t11 ON t1.area_id=t11.id
		WHERE t1.control!=3 AND t1.area_id=#{area_id}
		UNION
		SELECT t5.id,t5.station,t6.ipaddr,t5.sensorId,t5.sensor_type,t7.v type,t7.pid,t5.uid,t5.alais,
		t5.sensor_position,IFNULL(t8.v,'未配置位置') position,t5.area_id,t12.areaname
		FROM t_switch_sensor t5
		LEFT JOIN t_substation t6 ON t5.station=t6.id
		LEFT JOIN t_static t7 ON t5.sensor_type=t7.id
		LEFT JOIN t_static t8 ON t5.sensor_position=t8.id
		LEFT JOIN t_area t12 ON t5.area_id=t12.id
		WHERE t5.control!=3 AND t5.area_id=#{area_id}
	</select>
	
	<!-- 删除区域信息 -->
	<delete id="deleteArea">
		delete from t_area where id=#{areaid}
	</delete>
	
	<!-- 查询未使用的读卡器信息 -->
	<select id="getCardreder" resultType="com.cm.entity.Cardreder">
		SELECT tc.id,tc.addr,ts.v position,su.ipaddr subname
		FROM t_cardreder tc
		LEFT JOIN t_static ts ON tc.position_id=ts.id
		LEFT JOIN t_substation su ON tc.substation_id=su.id
		WHERE areaid IS NULL AND cstate &lt; 3
		<if test="areaid!=null and areaid>0">
			OR areaid=#{areaid}
		</if>
	</select>
	
	<!-- 查询未使用的传感器 -->
	<select id="getUnuseSensor" resultType="com.cm.entity.Sensor">
		SELECT t1.id,t1.station,t2.ipaddr,t1.sensorId,t1.sensor_type,t3.v type,t3.pid,
		t1.sensor_position,t4.v position
		FROM t_sensor t1
		LEFT JOIN t_substation t2 ON t1.station=t2.id
		LEFT JOIN t_static t3 ON t1.sensor_type=t3.id
		LEFT JOIN t_static t4 ON t1.sensor_position=t4.id
		WHERE (t1.area_id IS NULL OR t1.area_id=0) AND control &lt; 3
		UNION
		SELECT t5.id,t5.station,t6.ipaddr,t5.sensorId,t5.sensor_type,t7.v type,t7.pid,
		t5.sensor_position,t8.v position
		FROM t_switch_sensor t5
		LEFT JOIN t_substation t6 ON t5.station=t6.id
		LEFT JOIN t_static t7 ON t5.sensor_type=t7.id
		LEFT JOIN t_static t8 ON t5.sensor_position=t8.id
		WHERE (t5.area_id IS NULL OR t5.area_id=0) AND control &lt; 3
	</select>
	
	<select id="getDefaultArea" resultType="com.cm.entity.Area2">
	    SELECT * FROM t_area WHERE id=1;
	</select>
	
	<select id="getById" resultType="com.cm.entity.Area2">
	    SELECT * FROM t_area WHERE id = #{0};
	</select>
	
	<select id="getByid" resultType="com.cm.entity.Area">
		select * from t_area where id=#{id}
	</select>
	
	<insert id="insertAreaConfig">
		insert into t_areaconfig_change_rec(area_id,work_day,old_max_allow,old_max_time,max_allow,max_time,is_change)
		values
		<foreach collection="list" item="it" index="index" separator=","> 
			(#{it.area_id},#{it.work_day},#{it.old_max_allow},#{it.old_max_time},#{it.max_allow},#{it.max_time},#{it.is_change})
		</foreach>
	</insert>
	
	<select id="getAreaChange" resultType="com.cm.entity.vo.AreaChangeVo">
		SELECT * from t_areaconfig_change_rec WHERE work_day = #{0} AND area_id = 1 AND is_change = 0 LIMIT 1
	</select>
	
	<select id="getAreaMSG" resultType="com.cm.entity.vo.AreaChangeVo">
		SELECT * from t_areaconfig_change_rec WHERE work_day = #{0} AND area_id != 1 AND is_change = 0
	</select>
	
</mapper>