<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cm.dao.CurvecolorDao">

    <insert id="add">
        insert into t_curvecolor(realvalue,maxvalues,minvalue,avgvalue,cbvalue,feedvalue,level1,level2,level3,level4,
        supplyvalue,initialColor,calibratevalue,unusualvalue,changing2value,changing3value)
        values (#{realvalue},#{maxvalues},#{minvalue},#{avgvalue},#{cbvalue},#{feedvalue},
        #{level1},#{level2},#{level3},#{level4},#{supplyvalue},#{initialColor},#{calibratevalue},#{unusualvalue},#{changing2value},#{changing3value})
    </insert>

    <update id="update">
        update t_curvecolor
        <set>
            <if test="null!=realvalue">
                realvalue = #{realvalue},
            </if>
            <if test="null!=maxvalues">
                maxvalues=#{maxvalues},
            </if>
            <if test="null!=minvalue">
                minvalue=#{minvalue},
            </if>
            <if test="null!=avgvalue">
                avgvalue=#{avgvalue},
            </if>
            <if test="null!=cbvalue">
                cbvalue=#{cbvalue},
            </if>
            <if test="null!=feedvalue">
                feedvalue=#{feedvalue},
            </if>
            <if test="null!=level1">
                level1=#{level1},
            </if>
            <if test="null!=level2">
                level2=#{level2},
            </if>
            <if test="null!=level3">
                level3=#{level3},
            </if>
            <if test="null!=level4">
                level4=#{level4},
            </if>
            <if test="null!=supplyvalue">
                supplyvalue=#{supplyvalue},
            </if>
            <if test="null!=initialColor">
                initialColor=#{initialColor},
            </if>
            <if test="null!=unusualvalue">
                unusualvalue=#{unusualvalue},
            </if>
            <if test="null!=calibratevalue">
                calibratevalue=#{calibratevalue},
            </if>
            <if test="null!=changing2value">
                changing2value=#{changing2value},
            </if>
            <if test="null!=changing3value">
                changing3value=#{changing3value}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="getAll" resultType="com.cm.entity.CurveColor">
        select * from t_curvecolor limit 1
    </select>
    
    <delete id="delete">
        delete from t_curvecolor where id=#{id}
    </delete>

</mapper>