<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cm.dao.IDistrictSeneorDao">
	<update id="updateSensor" parameterType="com.cm.entity.Sensor">
	    update t_sensor set n_point=#{n_point},e_point=#{e_point},x_point=#{x_point},y_point=#{y_point} where id=#{id};
	</update>
	<update id="updateSwitchSensor" parameterType="com.cm.entity.SwitchSensor">
	    update t_switch_sensor set n_point=#{n_point},e_point=#{e_point},y_point=#{y_point},x_point=#{x_point} where id=#{id};
	</update>
	<update id="updateCardreader" parameterType="com.cm.entity.Cardreder">
	    update t_cardreder set n_point=#{n_point},e_point=#{e_point},y_point=#{y_point},x_point=#{x_point} where id=#{id};
	</update>
	<update id="updateRadio" parameterType="com.cm.entity.Radio">
	    update t_radio set n_point=#{n_point},e_point=#{e_point},y_point=#{y_point},x_point=#{x_point} where id=#{id};
	</update>
	<update id="updateVideo" parameterType="com.cm.entity.Video">
	    update t_video set n_point=#{n_point},e_point=#{e_point} where id=#{id};
	</update>
    <update id="updateSubstation" parameterType="com.cm.entity.Substation">
        update t_substation set n_point=#{n_point},e_point=#{e_point},x_point=#{x_point},y_point=#{y_point} where id=#{id};
    </update>
    <update id="updateEquipment" parameterType="com.cm.entity.Equipments">
        update t_equipment set n_point=#{n_point},e_point=#{e_point},x_point=#{x_point},y_point=#{y_point} where id=#{id};
    </update>
</mapper>