<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cm.dao.SecretDataDao">
	
	<select id="getall" parameterType="com.cm.entity.vo.NameTime" resultType="com.cm.entity.SecretData">
		SELECT b.alais,b.sensortype,b.unit,b.position,b.limit_alarm limit_alarms,b.floor_alarm floor_alarms,COUNT(a.devid) count FROM
		(SELECT id,ip,devid,type FROM  t_coalMine
		<where>
			 responsetime>=#{starttime} 
			 and responsetime<![CDATA[<=]]>#{endtime}
			 <if test="debug>-1">
			  and debug=#{debug}
			 </if>
		</where> )a
		INNER JOIN
		(SELECT a.alais,d.ipaddr,a.sensor_type,a.sensorId,b.v sensortype,b.k unit,c.v position,a.limit_alarm,a.floor_alarm FROM t_sensor a
		LEFT JOIN t_static b ON a.sensor_type=b.id
		LEFT JOIN t_static c ON a.sensor_position=c.id
		LEFT JOIN t_substation d ON a.station=d.id
		<where>
			<if test="id>0">
			 		a.id=#{id}
			</if>
			<if test="ip!=null and ip!=''">
				AND d.ipaddr=#{ip}
			</if>
			<if test="sensor_position>0">
				AND a.sensor_position=#{sensor_position}
			</if>
		</where>
		)b ON a.ip=b.ipaddr AND a.devid=b.sensorId AND a.type=b.sensor_type  GROUP BY a.ip,a.devid,a.type  LIMIT #{start_row},#{page_rows}	
	</select>
	
	<select id="getbypag" parameterType="com.cm.entity.vo.NameTime" resultType="com.cm.entity.SecretData">
		SELECT a.status,DATE_FORMAT(a.responsetime,'%Y-%m-%d %H:%i:%S') responsetime,a.debug,b.alais,b.sensortype,b.unit,b.position,a.value,b.limit_alarm limit_alarms,b.floor_alarm floor_alarms FROM
		(SELECT ip,devid,type,status,responsetime,debug,value FROM  t_coalMine 
		<where>
			 responsetime>=#{starttime} 
			 and responsetime<![CDATA[<=]]>#{endtime}
			 <if test="debug>-1">
			  and debug=#{debug}
			 </if>
		</where> )a
		INNER JOIN
		(SELECT a.alais,d.ipaddr,a.sensor_type,a.sensorId,b.v sensortype,b.k unit,c.v position,a.limit_alarm,a.floor_alarm FROM t_sensor a
		LEFT JOIN t_static b ON a.sensor_type=b.id
		LEFT JOIN t_static c ON a.sensor_position=c.id
		LEFT JOIN t_substation d ON a.station=d.id
		<where>
			<if test="id>0">
			 		a.id=#{id}
			</if>
			<if test="ip!=null and ip!=''">
				AND d.ipaddr=#{ip}
			</if>
			<if test="sensor_position>0">
				AND a.sensor_position=#{sensor_position}
			</if>
		</where>
		)b ON a.ip=b.ipaddr AND a.devid=b.sensorId AND a.type=b.sensor_type	 LIMIT #{start_row},#{page_rows}
	</select>
	
	
	<select id="getcount" parameterType="com.cm.entity.vo.NameTime" resultType="int">
		SELECT count(a.id) FROM
		(SELECT id,ip,devid,type FROM  t_coalMine 
		<where>
			 responsetime>=#{starttime} 
			 and responsetime<![CDATA[<=]]>#{endtime}
			 <if test="debug>-1">
			  and debug=#{debug}
			 </if>
		</where>)a
		INNER JOIN
		(SELECT d.ipaddr,a.sensor_type,a.sensorId FROM t_sensor a
		LEFT JOIN t_substation d ON a.station=d.id
		<where>
			<if test="id>0">
			 		a.id=#{id}
			</if>
			<if test="ip!=null and ip!=''">
				AND d.ipaddr=#{ip}
			</if>
			<if test="sensor_position>0">
				AND a.sensor_position=#{sensor_position}
			</if>
		</where>
		)b ON a.ip=b.ipaddr AND a.devid=b.sensorId AND a.type=b.sensor_type
	</select>
	
	<select id="getcountdata" parameterType="com.cm.entity.vo.NameTime" resultType="int">
		SELECT COUNT(a.devid) FROM
		(SELECT a.ip,a.type,a.devid,COUNT(a.id) count FROM
		(SELECT id,ip,devid,type FROM  t_coalMine 
		<where>
			 responsetime>=#{starttime} 
			 and responsetime<![CDATA[<=]]>#{endtime}
			 <if test="debug>-1">
			  and debug=#{debug}
			 </if>
		</where>)a
		INNER JOIN
		(SELECT d.ipaddr,a.sensor_type,a.sensorId FROM t_sensor a
		LEFT JOIN t_substation d ON a.station=d.id
		<where>
			<if test="id>0">
			 		a.id=#{id}
			</if>
			<if test="ip!=null and ip!=''">
				AND d.ipaddr=#{ip}
			</if>
			<if test="sensor_position>0">
				AND a.sensor_position=#{sensor_position}
			</if>
		</where>
		)b ON a.ip=b.ipaddr AND a.devid=b.sensorId AND a.type=b.sensor_type GROUP BY a.ip,a.devid,a.type)a
	</select>
	
</mapper>